@font-face {
    font-family: Roboto;
    src: url(../Assets/Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Ralewaye;
    src: url(../Assets/Fonts/Raleway-VariableFont_wght.ttf);
}



.bg-danger{
    background-color: #ed502e !important;
}

.text-dark{
    color: #444444 !important;
}

.text-danger{
    color: #ed502e !important;
}

.link-danger{
    color: #ed502e !important;
}

.header-item a:hover{
    color: #ed502e;
}

.header-style{
    font-family: Roboto;
}

.Title-after{
    font-weight: 100;
}

.Title-after::after{
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    content: "";
    background-color: #ed502e;
    width: 30%;
}

.Title-div{
    width: 40%;
    display: inline-block;
}

.c-item{
    height: 400px;
}

.c-item button:hover{
    color:#a93a21;
}

.c-img{
    height: 100%;
    object-fit: cover;
    background-position: center;
    filter: brightness(0.3);
}