@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Ralewaye;
    src: url(../Fonts/Raleway-VariableFont_wght.ttf);
}



.bg-danger{
    background-color: #ed502e !important;
}

.text-dark{
    color: #444444 !important;
}
.nav-item{
    padding: 10px;
}

.text-danger{
    color: #ed502e !important;
}

.link-danger{
    color: #ed502e !important;
}

.header-item a:hover{
    color: #ed502e;
}

.header-item{
    font-family: Ralewaye;
}

.header-style{
    font-family: Roboto;
}

.about{
    font-family: Roboto;
}

.text{
    font-family: Roboto;
}

.Title-after{
    font-weight: 100;
}

.Title-after::after{
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    content: "";
    background-color: #ed502e;
    width: 30%;
}

.Title-div{
    width: 40%;
    display: inline-block;
    font-family: Ralewaye;
    font-weight: 600;
}

.c-item{
    height: 400px;
}

.c-item button:hover{
    color:#a93a21;
}

.c-img{
    height: 100%;
    object-fit: cover;
    background-position: center;
    filter: brightness(0.3);
}

.bu:hover{
    background-color: #f1836a !important;
}

.icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    box-shadow: -8px -8px 0px #ed512e43;
    align-items: center;
    justify-content: center;
}
.flash{
    height: 30vh;
    width: 100%;
    align-content: center;
    margin: 0 auto;
}

.flash-cards{
    height:  100%;
    font-family: Roboto;
    transition: 0.3s;
}
.flash-cards:hover {
    background-color: #ed502e !important;
    color: aliceblue !important;
}

.flash-cards:hover .icon{
    background-color: aliceblue !important;
    box-shadow: -8px -8px 0px rgba(240, 248, 255, 0.367);

}

.flash-cards:hover i{
color: #ed502e !important;}

.row{
    justify-content: center !important;
}
